.friends{
    
    text-align: center;    
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;    
    
}
.friends__list{
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    justify-content: center;
    height: 100px;
     
}
.item{
    width: 100px;
    border: 2px solid rgba(64, 58, 58, 0.4);
    border-bottom: none;
    display: flex;    
    background-color: rgba(121, 135, 135, 0.3);
    justify-content: center;
    background-color: rgb(228, 187, 187);
    width: 200px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.item:last-child{
    border-bottom: 2px solid rgba(64, 58, 58, 0.4);
}
.status{
    border-radius: 10px;
    width: 15px;
    height: 15px;
   
    background-color: red;
  
}
.status_online{
    border-radius: 10px;
    width: 15px;
    height: 15px;
    
    background-color: green
}
.avatar{
    width: 50px;
    border-radius: 5px;
    border: 2px solid rgba(64, 58, 58, 0.4);
}
.name{

}