.transactions {
  margin: 0 auto;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
  border: 2px solid rgba(74, 67, 67, 0.5);
  margin-top: 80px;
  margin-bottom: 40px;
}
.list {
  width: 300px;
  background-color: rgba(62, 230, 230, 0.5);
}
.item {
  height: 30px;
  text-align: center;
}
tr {
  height: 30px;
  text-align: center;
}
tr:nth-child(2n) {
  background-color: rgba(105, 103, 103, 0.5);
}
